streamlit==1.35.0
tensorflow-cpu==2.16.1
torch==2.2.2
torchaudio==2.2.2
speechbrain==0.5.16
librosa==0.10.1
numpy==1.26.4
scikit-learn==1.4.2
matplotlib==3.8.4
tqdm==4.66.4
pydub==0.25.1
noisereduce==3.0.2
soundfile==0.12.1